/******************************************************************** 
 *
 *                       default_style.css
 *
 *      COMP120 - Summer 2020
 *
 *      Assignment    : Lab 4 -Portfolio
 *      Author        : Kevin Chang
 *      Date          : 06-02-20
 *      
 *      CSS stylesheet for kchang024.github.io
 *
 ********************************************************************/

h1 {
    font-size   : 96px; 
    text-align  : center;
}

h2 {
    text-align  : center;
}

h4 {
    font-size   : 30px;
    text-align  : center;
}

a:hover {
    color       : red;
}

.links {
    font-weight : bold;
    font-size   : 30px;
    text-align  : center;
    margin-left : auto;
    margin-right: auto;
}

p.jobs {
    font-weight : bold;
}

span.dates {
    font-style  : italic;
}

#profilePic {
    text-align : center;
}

.bio {
    text-align  : center;
    margin-left : 20%;
    margin-right: 20%;
}

p.jobTitle {
    font-weight : bold;
    font-size   : 18px;
}