/******************************************************************** 
 *
 *                       default_style.css
 *
 *      COMP120 - Summer 2020
 *
 *      Assignment    : Lab 4 -Portfolio
 *      Author        : Kevin Chang
 *      Date          : 06-02-20
 *      
 *      CSS stylesheet for kchang024.github.io
 *
 ********************************************************************/

 h1 {
    font-size: 96px; 
    text-align: center;
 }

 .indexLinks {

 }

 a:hover {
    color:  red;
 }