/* screen width > 1200 pixels displays the top row, left most image */
@media only screen and (min-width: 1201px) {
	.software {width: 128px; height: 240px; 
		       background:url(responsive/software.png) 0px 0px;}
}

/* screen width > 1100 <= 1200 displays the top row, second from left */
@media (min-width: 1100px) and (max-width: 1200px) {
	.software {width: 128px; height: 240px; 
		       background:url(responsive/software.png) -128px 0px;}
}

/* screen width > 1000 <= 1100 */
@media (min-width: 1000px) and (max-width: 1100px) {
	
}

/* screen width > 900 <= 1000  */
@media (min-width: 900px) and (max-width: 1000px) {
	
}

/* screen width > 800 <= 900   */
@media (min-width: 800px) and (max-width: 900px) {
	
}

/* screen width > 700 <= 800 displays the bottom row, first image */
@media (min-width: 700px) and (max-width: 800px) {
	
}

/* screen width > 600 <= 700   */
@media (min-width: 600px) and (max-width: 700px) {
	
}

/* screen width > 500 <= 600   */
@media (min-width: 500px) and (max-width: 600px) {
	
}

/* screen width > 400 <= 500   */
@media (min-width: 400px) and (max-width: 500px) {
	
}

/* screen width <= 400          */
@media (max-width: 400px) {
	
}